body {
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: left;
}

#header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.italic {
    font-style: italic;
}

.dates {
    float: right;
    font-style: italic;
}

img {
    max-width: 40%;
    height: auto;
    width: auto;
}
